body {
    text-align: center;
}

#container {
    box-sizing: content-box;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    border: 1px solid;
    width: 600px;
    height: 600px;
    margin: 30px auto 0 auto;
    background-color: white;
}

.square {
    box-sizing: border-box;
    margin: 0;
    width: 35px;
    height: 35px;
    background-color: slategray;
    border: 1px solid;
    cursor: pointer;
}

button {
    height: 50px;
    border: none;
    margin: 20px 20px 0 20px;
}